/* All about conversation */
/* All about message */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Be Vietnam';
}
textarea {
	&:focus {
		outline: none;
	}
}
input {
	&:focus {
		outline: none;
	}
}
button {
	&:focus {
		outline: none;
	}
}
.chat-box-container {
	background: white;
	height: 80vh;
	width: 60%;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
	border-radius: 2rem;
	z-index: 2;
	backdrop-filter: blur(2rem);
	display: flex;
}
.circle1 {
	background: white;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
	height: 20rem;
	width: 20rem;
	position: absolute;
	border-radius: 50%;
	top: 5%;
	right: 15%;
}
.circle2 {
	background: white;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
	height: 20rem;
	width: 20rem;
	position: absolute;
	border-radius: 50%;
	bottom: 5%;
	left: 10%;
}
.conversation-container {
	width: 30%;
	height: 100%;
	border-right: 1px solid whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	position: relative;
}
.profile-container {
	width: 5rem;
	height: 6rem;
	margin-bottom: 1rem;
	flex: 2;
	justify-content: center;
	align-items: center;
}

.profile-picture {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border: 3px solid white;
}
.username {
	font-size: 14px;
	color: #9e9e9e;
}
.conversation-picture {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	margin-right: 0.5rem;
}
.sidebar-body {
	flex: 8;
	width: 100%;
}
.sidebar-footer {
	flex: 1;
	width: 100%;
	display: flex;
	justify-content: center;
}
.conversation {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0.5rem;
	cursor: pointer;
	&:hover {
		background: whitesmoke;
		border-radius: 1rem;
		transition: 0.5s;
	}
}
.title {
	font-weight: 500;
	font-size: 15px;
}
.sub-title {
	font-size: 14px;
}
.message-container {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	.user-information-container {
		display: flex;
		align-items: center;
		padding: 0.5rem;
		box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 10px 0 rgba(255, 255, 255, 0.19);
	}
	.chat-form {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0.5rem;
		background: whitesmoke;
		.input-chat {
			width: 90%;
			margin-right: 0.5rem;
			border: 0;
			padding: 0.5rem;
			border-radius: 0.5rem;
		}
		.btn-send {
			border: 0;
			padding: 0.5rem 1rem;
			background: turquoise;
			border-radius: 0.5rem;
		}
	}
	.messages {
		width: 100%;
		height: 100%;
		padding: 1rem;
		position: relative;
		display: flex;
		flex-direction: column;
		overflow: scroll;
		padding-bottom: 3rem;
	}
}

.message {
	background: whitesmoke;
	margin: 0.1rem 0;
	padding: 0.5rem;
	border-radius: 1rem;
	max-width: 50%;
}
.sent {
	background: wheat;
	align-self: flex-end;
}
.btn-signout {
	color: #fff;
	height: auto;
	padding: 5px 15px;
	background-color: #f30000;
	border: none;
	border-radius: 0.3rem;
	box-shadow: 0px 6px 8px #e0babf;
	cursor: pointer;
	display: flex;
	margin: auto;
}
.btn-signout-link {
	color: #fff;
	text-decoration: none;
}
